---
import Markdown from "../../layouts/Markdown.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import { effect } from "astro:schema";

export async function getStaticPaths() {
    const team = await getCollection("team");

    const paths = team.map((member) => ({
        params: { id: member.id.toString() },
        props: {
            member: member,
        },
    }));
    return paths;
}
const { member } = Astro.props;
const { Content } = await render(member);
---

<Markdown>
    <div slot="top">
        <a href="/#team">Team</a>
        <h2><span>{member.data.name}</span></h2>
    </div>
    <Content />
    <div slot="sidebar" class="profile">
        <img
            width="300"
            height="300"
            src={member.data.pic.src}
            alt=""
            class="image"
        />
    </div>
</Markdown>

<style>
    a {
        display: block;
        margin-bottom: var(--sp-m);
    }

    .profile {
        display: flex;
        flex-flow: column;
        align-items: end;
        gap: var(--sp-xs);
    }
</style>
